<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Ask Ping! A friendly way to connect software engineers with tech companies</h2>
</body>
</html>